.container-fluid{
  background-color: #EDF0F4 ;
  padding:10px;
  height: 100%;
}
.row{
  /* margin:10px; */
  padding: 10px;
}

.listChat{
  overflow-y: scroll;
  height: 100%;
}
::-webkit-scrollbar-track
{
	display: none;
}
::-webkit-scrollbar
{
	width: 10px;
	background-color:#EDF0F4;
}
::-webkit-scrollbar-thumb
{
	background-color: #B2B9C5;
  border-radius: 10px;
}

.chatBox{
  background-color: #EDF0F4;
  margin:5px;
  border-radius: 7px;
}

.app_root{
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px #B2B9C5;

}

.header_sidebar{
  border-bottom: 1px #B2B9C5 solid;
  text-align: center;
}

.UserCard{
  justify-content: center;
}

#image{
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  clip-path: circle();
}
.user_info{
  text-align: center;
}

.list-group-item:hover{
  background-color:#EDF0F4;
}

.searchBar{
  padding-top: 10px;
  padding-bottom: 10px;
  height: fit-content;
}

#searchBar{
  margin-bottom: 0px !important;
}

.chatBar{
  height: fit-content ;
}